th{
	text-align: center;
}
tbody{
	text-align: center;
}
/*BAGIAN PROFILE*/
div.div-upload{
	position:relative;
	padding:7px;
	width: 230px;
	background-color: #2980B9;
	-webkit-border-radius:5px;
	-webkit-box-shadow: 0px 3px 0px grey;
}
input.file-upload{
	position:absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	height:100%;
	opacity:0;
}
span.upload{
	color:white;
	font-size: 15px;
}
table.tabpad{
  font-size: 18px;
  margin: 0px;
}
.pad-off{
 padding: 0px;
}
/*ABOUT US*/
.container.kami{
	padding: 20px;
}
h1{
	padding-bottom: 20px;
}
p{
	padding: 10px;
}

/*Halaman Detail*/
.companyprofile{
	background-color: pink;
	padding: 10px;
}
.title{
	font-weight: bold;
}
.submitted{
	font-size: 12px;
}

/*ADMIN*/
.admin-panel{
	max-width: 400px;
	margin-top: 70px;
}
.login-title{
	padding-top:27px;
	font-weight: bold;
	font-size: 25px;
}
.panel-heading-admin{
	height: 100px;
	padding-top:0px;
}
div.pull-right > p.login-title{
	width: 300px;
}
.form-control.inputtext{
	width: 300px;
	height: 50px;
	margin-bottom:10px;
	font-size: 20px;
}
.admin-btn{
	margin-top: 5px;
	width: 100px;
}
.admin-foot{
	height: 70px;
}
.bg-admin{
	padding-left:0px;
	padding-right: 0px;
	background-color: #F5F5F5;
	height: 171px;
	border-bottom: 1px #DDDDDD solid;

}
/*DASHBOARD ADMIN*/
.navbar-default.nav-admin{
	height:60px;
	margin-bottom: 0px;
}
.navbar-text.admin-name{
	font-size: 100%;
	margin-top: 10px;
	margin-bottom: 0px;
}
/*Lowongan.php*/
.search-input{
	width: 250px;
}

/*COLLAPSE DETAIL*/
.colaps{
	padding-left: 0px;
}
.tabpad{
	margin-top: 5px;
	margin-left: 10px;
	font-size: 14px;
}

.coin{
	
	float: left;
    height: 50px;
    padding-right:15px;
    padding-top: 15px;
    font-size: 18px;
    line-height: 20px;
}
.transbg{
	background-color: rgba(0, 0, 0, .0001);
    border-color: rgba(0, 0, 0, .0001);
}

#menu .active a{
	background-color: #337ab7 !important;
	color: white;
}
#menu .noac a{
	color:  #337ab7 !important;
}

.remo{
	bottom: 10px;
}

/*TRANSAKSI*/
.trans{
	max-width: 700px;
}
.koinp{
	font-size: 50px;
	font-weight: bold;
}
.buy{
	margin-top: 20px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	color: blue;
}
/*FOOTER*/
.foot{
	padding-top: 0px;
}
.foo{
	padding: 0px;
	margin: 0px;
}
.logo{
	padding-top: 25px;
	padding-bottom:10px;
    text-align: center; 
}
ul.w3layouts_footer_nav a{
  color: white;
}
.navfoot{
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
}
ul{
	list-style: none;
}
.katangah{
	 max-width:150px;
	 
}

@media (max-width: 991px){
	.navfoot{
	padding-top: 0px;
	padding-bottom: 20px;
	text-align: center;
  }
	  .katangah{
		 max-width:150px;
		 display: block;
	     margin-right: auto;
	     margin-left: auto;	 
	}
}


