@import url('https://fonts.googleapis.com/css?family=Cairo');

/*NAVIGATION BAR*/
nav.navbar.navbar-inverse{
  background-color:transparent;
  height: 60px;
  border: none;
  box-shadow: none;
}
nav.navbar.navbar-inverse>div.container-fluid{
 padding-top: 5.5px; 
 max-width: 960px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ddd;
    font-weight: bold;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: #098dcc;
    background-color: transparent;
}
.navbar-collapse.collapse.in,.navbar-collapse.collapsing{
  background-color: #333;
  margin-top: 4px;
  border-color:#333;
  border-radius: 10px;
}
.navbar-toggle{
  background-color: #333;
}
/*CONTENT HALAMAN UTAMA*/
#section1 {
  	padding-top:50px;color: black;
    background-image: url('../images/banner-1.jpg'); 
    /* Create the parallax scrolling effect */
  /*  background-attachment: fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;

}

.hideme, .hideme2 , .hideme3{
        visibility: hidden;
}

.fadeIn {
    -webkit-animation: fadeInRight 1.5s;
    animation: fadeInRight 1.5s;
    visibility: visible !important;
}

@-webkit-keyframes fadeInRight{
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
}
.fadeInUp{
  -webkit-animation: fadeInUp 1.5s;
    animation: fadeInUp 1.5s;
    visibility: visible !important;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft{
  -webkit-animation: fadeInLeft 1.5s;
    animation: fadeInLeft 1.5s;
    visibility: visible !important;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}



.item{
  margin-top: 150px;
  margin-left: 90px;
}

h3{
  font-size:2.2em;
  color:white;
  font-weight: bold;
  line-height:1.5em;
  font-family: 'Cairo', sans-serif;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}
p.ju_info_fts{
  font-size:1em;
  color:white;
  max-width: 600px;
  font-size:'Cairo', sans-serif;
  text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.btn.ju_apa,.btn.ju_gab:hover{
  color: white;
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid white; 
}
.btn.ju_gab, .ju_apa:hover {
   color: white;
   border-radius: 0px; 
   background-color:#3595b1;
   border: 2px solid #3595b1;
}

/* Change the link color to #111 (black) on hover */

/*-- button-effect --*/
/*.thim-click-to-bottom {
    position: absolute;
    margin-top: 12em;
    left: 50%;
    width: 40px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    -webkit-animation: bounce 2s infinite ease-in-out;
}
.thim-click-to-bottom i {
    color: #fff;
    padding: 20px 10px;
    border: 1px solid;
    border-radius: 20px;
  font-size: 15px;
}
@-webkit-keyframes bounce {
  0%, 20%, 60%, 100%  { -ms-transform: translateY(0); }
  0%, 20%, 60%, 100%  { -o-transform: translateY(0); }
  0%, 20%, 60%, 100%  { -moz-transform: translateY(0); }
  0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
  80% { -webkit-transform: translateY(-10px); }
}*/

#section2 {padding:50px 200px 50px 200px;height:auto;color: #fcf8e3; background-color: #fabe3a;}

div.container.ju_sec{
  max-width: 960px;
}

div.col-md-4.satu > div.panel.panel-default{
  text-align: center;
 /* cursor: pointer;*/
  background-color: #88c33d;
  border-color: #759e42;
}
div.col-md-4.satu > div.panel.panel-default > div.panel-heading{
  background-color: #88c33d;
  border:none;
}
div.col-md-4.dua > div.panel.panel-default{
  background-color: #69c9b5;
  text-align: center;
  border-color:#53a292;
  /*cursor: pointer;*/
}
div.col-md-4.dua > div.panel.panel-default > div.panel-heading{
  background-color: #69c9b5;
  border:none;
}
div.col-md-4.tiga > div.panel.panel-default{
  background-color:#e85d1f;
  text-align: center;
  border-color:#af4719;
 /* cursor: pointer;*/
}
div.col-md-4.tiga > div.panel.panel-default > div.panel-heading{
  background-color: #e85d1f;
  border:none;
}
div.col-md-4 > div.panel.panel-default{
  min-height: 350px;
}
div.col-md-4 > div.panel.panel-default > div.panel-heading > h3{
 color: #fcf8e3;
 font-weight: bold;
}
div.col-md-4 > div.panel.panel-default > div.panel-body{
  font-size: 1.3em;
}

/*div.panel.panel-default:hover {
    background-color: blue;
}*/
#section3 {
  padding:50px 0px 50px 0px;
  height:500px;
  background-color: #fabe3a;
    /*background-image: url('../img/banner-1.jpg');*/ 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    align-items: center;
    vertical-align: middle;
}
span.ju_title{
  max-width: 600px;
  height: 100px;
  padding-top: 5px;
  background-image: url('../images/brush2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
div.ju_title2{
    background-image: url('../images/brush-title.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 138px;
    position: relative;
    text-align: center;

}
div.ju_title2_small{
  display: none;
  background-image: url('../image/small-brush.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 138px;
    position: relative;
    text-align: center;
}

div.ju_title2 > h3{
  padding-top: 40px;
}
div.ju_title3{
    background-image: url('../images/cari-k.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 70px;
    position: relative;
    text-align: center;

}
div.ju_title3 >h3{
  padding-top: 15px
}
div.ju_title4{
    background-image: url('../images/tem-brush.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
}
div.ju_title4_small{
    background-image: url('../images/tem-brush-small.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    position: relative;
    text-align: center;
    display: none;
}
div.ju_title4 > h3{
 padding-top: 25px
}
.ju_jobus_what{
  font-size: 1.3em;
  text-align: center;
  color: #fcf8e3;
}
span.ju_line{
  height: auto;
  padding-top: 5px;
  background-image: url('../images/jobus.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  display: inline;
  
}
#more{
  padding:50px 0px 50px 0px;
  min-height:500px;
  background-color: #fabe3a;
    background-image: url('../images/bg-bawah.png'); 
    /* Create the parallax scrolling effect */
  /*  background-attachment: fixed;*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: auto;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 850px;
}

#information {
  padding-top:50px;
  padding-bottom: 50px;
  height:auto;
  color: #9d9d9d; 
  background-color: #EFEEE9;
  text-align: center;
}
#information.container-fluid > ul.list-inline> li > a{
   color: #9d9d9d;
   text-decoration: none;
}
#information.container-fluid > ul.list-inline> li > a:hover{
   color:#e85d1f;
   text-decoration: none;
}

/*SCROLL BAR*/
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

/*RESPONSIVE*/

@media (max-width: 1320px){
  #section2 {
    padding:50px 140px 50px 140px;
  }
}
@media (max-width: 1210px){
  #section2 {
    padding:50px 120px 50px 120px;
  }
}
@media (max-width: 1214px){
  #section2 {
    padding:50px 120px 50px 120px;
  }
}
@media (max-width: 1034px){
  #section2 {
    padding:50px 0px 50px 0px;
  }
}

@media (max-width: 500px){
  div.ju_title4> h3{
      padding-top: 30px;
      font-size: 1.8em
    }
}
@media (max-width: 480px){
    .thim-click-to-bottom i {
      padding: 15px 8px;
      font-size: 8px;
    }
    div.ju_title2{
      display: none;
    }
    div.ju_title2_small{
      display: block;
    }
    div.ju_title2_small> h3{
      padding-top: 20px;
    }

}
@media (max-width: 414px){
  div.ju_title2_small> h3{
      padding-top: 30px;
      font-size: 1.8em
    }
  div.ju_title4_small > h3{
    padding-top: 5px;
    font-size: 2.1em;
  }
}
@media (max-width: 360px){
  div.ju_title2_small> h3{
      padding-top: 35px;
      font-size: 1.5em
    }
    div.ju_title4_small > h3{
    padding-top: 12px;
    font-size: 1.8em;
  }
  #more.container-fluid{
      padding-bottom: 200px;
    }
}

@media (max-width: 1600px){
  #more{
      padding-bottom: 950px;
    }
}
@media (max-width: 384px){
  #more.container-fluid{
      padding-bottom: 250px;
    }
}
@media (max-width: 414px){
  #more.container-fluid{
      padding-bottom: 300px;
    }
}
@media(max-width: 600px ){
  #more.container-fluid{
      padding-bottom: 400px;
    }
}
@media (max-width: 767px){
    div.navbar-header>img{
          margin-left: 5px;
    }
    .hideme > img{
      display: none;
    }
    #more{
      padding-bottom: 500px;
    }

}
@media(max-width: 991px){
  #more{
      padding-bottom: 550px;
    }
}
@media (max-width: 1199px){
    .item{
    margin-left: 0px;
  }
}
@media (max-width: 320px){
  .item{
    margin-top: 100px;   
  }
  h3{
    font-size: 1.8em;
  }
  p.ju_info_fts{
    font-size: 0.8em
  }
  .btn.ju_apa,.btn.ju_gab{
    font-size: 0.8em;
  }
  div.ju_title4_small > h3{
    padding-top: 15px;
    font-size: 1.7em;
  }
  #more.container-fluid{
      padding-bottom: 200px;
    }
}
@media (max-width: 1024px){
    #section2{
    padding:50px 0px 50px 0px;
  }
}
@media (max-width: 991px){
    div.col-md-4 > div.panel.panel-default{
      min-height:unset;
    }
    div.ju_title2> h3{
      padding-top: 40px;
    }
}
@media (max-width: 732px){
  div.ju_title2> h3{
      padding-top: 40px;
    }
}
@media (max-width: 617px){
  div.ju_title2> h3{
      padding-top: 20px;
    }
}
@media (max-width: 433px){
  div.ju_title4{
    display: none;
  }
  div.ju_title4_small{
    display: block;
  }
}