@import url('https://fonts.googleapis.com/css?family=Cairo');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
font-family: 'FuturaBook';
font-style: normal;
font-weight: normal;
src: url('../fonts/FuturaBookBT.ttf');
}

@font-face {
font-family: 'Orator std';
font-style: normal;
font-weight: normal;
src:url('../fonts/OratorStd.otf');
}
@font-face {
font-family: 'Geosans Lt';
font-style: normal;
font-weight: normal;
src: url('../fonts/GeosansLight.ttf');
}
@font-face {
font-family: 'Neon';
font-style: normal;
font-weight: normal;
src: url('../fonts/Neon.ttf');
}

/*===================END FONT==============================*/

/*NAVIGATION BAR*/
nav.navbar.navbar-inverse{
  background-color:white;
  height: 60px;
  border: none;
  box-shadow: none;
}
nav.navbar.navbar-inverse>div.container-fluid{
 padding-top: 5.5px; 
 max-width: 960px;
}
.navbar-inverse .navbar-nav>li>a {
    color: black;
   font-family: 'Orator std';
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    font-weight: bold;
    color: #098dcc;
    background-color: white;
}
.navbar-collapse.collapse.in,.navbar-collapse.collapsing{
  background-color: white;
  margin-top: 4px;
  border-color:white;;
}
.navbar-toggle{
  background-color: transparent;
  margin-top:6px; 
  border: none;
}
.navbar-inverse .navbar-toggle .icon-bar{
  background-color: #333;
}
.navbar-inverse .navbar-toggle:hover {
    background-color: rgba(0,0,0,.0001);
}
.navbar-toggle.join-now{
  margin-top: 8px;
  background-color: transparent;
  color: black;
  height: 30px;
  width: 80px;
  text-align: center;
  padding: 0px;
}
.join-now{
  margin-top: 8px;
  background-color: transparent;
  color: black;
  height: 30px;
  width: 80px;
  text-align: center;
  padding: 0px;
  font-family: 'Orator std';
  border: 1px solid black;
}
/*CONTENT HALAMAN UTAMA*/
#section1 {
    padding-top:50px;color: black;
    background-image: url('../images/banner.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;

}

.hideme, .hideme2 , .hideme3{
        visibility: hidden;
}

.fadeIn {
    -webkit-animation: fadeInRight 1s;
    animation: fadeInRight 1s;
    visibility: visible !important;
}

@-webkit-keyframes fadeInRight{
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }

    to {
      opacity: 1;
      transform: none;
    }
}
.fadeInUp{
  -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    visibility: visible !important;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft{
  -webkit-animation: fadeInLeft 1s;
    animation: fadeInLeft 1s;
    visibility: visible !important;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

div.container.item{
  margin-top: 150px;
  max-width: 960px;
  text-align: center;
  padding: 0px;
}

div.container.item > h3{
 
  color:white;
  font-size: 2.65em;
  font-weight: 600;
  text-align: center;
  font-family:'Open Sans',sans-serif;
  /*text-shadow: 0 0 5px rgba(0,0,0,0.3);*/
}
p.ju_info_fts{
  font-family: 'FuturaBook';
  color: white;
  text-align: center;
  line-height:1.5em;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 120px;
}
.panah_bawah, .panah_bawah:hover, .panah_bawah:focus{
  color: white;
}
.btn.ju_apa,.btn.ju_gab:hover{
  color: white;
  border-radius: 0px;
  background-color: transparent;
  border: 2px solid white; 
}
.btn.ju_gab, .ju_apa:hover {
   color: white;
   border-radius: 0px; 
   background-color:#3595b1;
   border: 2px solid #3595b1;
}

#section2 {
  padding:50px 200px 50px 200px;
  height:auto;
  background-image: url('../images/wild_oliva.png');
}

div.container.ju_sec{
  max-width: 960px;
}

div.col-md-4> div.panel.panel-default{
  text-align: justify;
 /* cursor: pointer;*/
  border:none;
  font-size:0.8em;
  font-family: 'FuturaBook';
}
div.col-md-4 > div.panel.panel-default > div.panel-heading{
  height:250px; 
}
div.col-md-4 > div.panel.panel-default > div.panel-body{
  height:170px; 
}
div.col-md-4 > div.panel.panel-default > div.panel-heading.one{
  background-image: url('../images/test.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
}
div.col-md-4 > div.panel.panel-default > div.panel-heading.two{
  background-image: url('../images/find-job.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border:none;
  background-color: #f0809a;
}
div.col-md-4 > div.panel.panel-default > div.panel-heading.three{
  background-image: url('../images/test3.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
   background-color: #EDECE2;
  border:none;
}
div.col-md-4 > div.panel.panel-default{
  min-height: 350px;
}
div.col-md-4 > div.panel.panel-default > div.panel-heading > h3{
 color: #fcf8e3;
 font-weight: bold;
}
div.col-md-4 > div.panel.panel-default > div.panel-body{
  font-size: 1.3em;
}

#section3 {
  padding:50px 0px 50px 0px;
  height:500px;
  background-color: white;
    /*background-image: url('../img/banner-1.jpg');*/ 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}
div.container.ju_sec > h3{
  text-align: center;
  font-size: 2.7em;
  font-family:'Open Sans',sans-serif;
  letter-spacing: 3px;
  word-spacing: 5px;
  font-weight: bold;
  color: black;
  
}
div.under_line{
  height: 10px;
  max-width: 100px;
  background-color: black;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 20px;
}

div.ju_title2 > h3{
  text-align: center;
  font-size: 1.7em;
  font-family:'Open Sans',sans-serif;
  letter-spacing: 2px;
  line-height: 45px;
  word-spacing: 5px;
  font-weight: bold;
  color: black;
  padding-top: 15px;

}
div.ju_title3 > h3{
  text-align: center;
  font-size: 1.7em;
  font-family:'Open Sans',sans-serif;
  letter-spacing: 2px;
  line-height: 45px;
  word-spacing: 5px;
  font-weight: bold;
  color: black;
}
div.ju_title3 >h3{
  padding-top: 15px
}

div.ju_title4 > h3{
 padding-top: 25px
}
.ju_jobus_what{
  font-size: 1.3em;
  text-align: center;
  color: black;
  font-family: 'FuturaBook';
}
span.ju_line{
  height: auto;
  font-family: 'Neon';
  color: #fbb82a;
  letter-spacing:0px;
  
}
.more{
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;*/
    height: auto;
    align-items: center;
    vertical-align: middle;
}
div.container-fluid.more{
  padding-left: 0px;
  padding-right: 0px;
}
div.container-fluid.more_two{
  padding-left: 0px;
  padding-right: 0px;
}
div.container-fluid.more_three{
  padding-left: 0px;
  padding-right: 0px;
}
.more > .col-md-6.one{
  font-size: 1.3em;
  padding-left: 230px;
  padding-bottom: 20px;
  text-align: left;
  background-color: white;
  height: auto;
  font-family: 'FuturaBook';
}
.more_three > .col-md-6.one{
  font-size: 1.3em;
  padding-left: 230px;
  padding-bottom: 20px;
  text-align: left;
  background-color: white;
  height: auto;
  font-family: 'FuturaBook';
}
.col-md-6.para_one{
    height: auto;
    background-color: white;
    background-image: url('../images/test-trans2.png');
    height: 500px;
    background-position: left bottom;

}
.col-md-6.para_one > img{
  width: 0;
}
.col-md-6.para_dua{
   background-color: white;
   height: auto;
   padding-left: 0px;

}
.col-md-6.para_three{
  background-color: white;
   height: auto;
   padding-bottom: 10px;
}
.more_two > .col-md-6.dua{
  font-size: 1.3em;
  padding-right: 200px;
  padding-left: 30px;
  padding-bottom: 20px;
  text-align: right;
  background-color: white;
  height: auto;
  font-family: 'FuturaBook';
}
#information {
  padding-top:50px;
  padding-bottom: 50px;
  height:auto;
  color: #9d9d9d; 
  background-color: #EFEEE9;
  text-align: center;
}
#information.container-fluid > ul.list-inline> li > a{
   color: #9d9d9d;
   text-decoration: none;
}
#information.container-fluid > ul.list-inline> li > a:hover{
   color:#e85d1f;
   text-decoration: none;
}

/*SCROLL BAR*/
#style-3::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

/*RESPONSIVE*/

@media (max-width: 1320px){
  #section2 {
    padding:50px 140px 50px 140px;
  }
}
@media (max-width: 1210px){
  #section2 {
    padding:50px 120px 50px 120px;
  }
}
@media (max-width: 1214px){
  #section2 {
    padding:50px 120px 50px 120px;
  }
}
@media (max-width: 1034px){
  #section2 {
    padding:50px 0px 50px 0px;
  }
}

@media (max-width: 500px){
  div.ju_title4> h3{
      padding-top: 30px;
      font-size: 1.8em
    }
}
@media (max-width: 480px){
    .thim-click-to-bottom i {
      padding: 15px 8px;
      font-size: 8px;
    }
    
    div.ju_title2_small> h3{
      padding-top: 20px;
    }

}
@media (max-width: 414px){
  div.ju_title2_small> h3{
      padding-top: 30px;
      font-size: 1.8em
    }
  div.ju_title4_small > h3{
    padding-top: 5px;
    font-size: 2.1em;
  }
}
@media (max-width: 360px){
  div.ju_title2_small> h3{
      padding-top: 35px;
      font-size: 1.5em
    }
    div.ju_title4_small > h3{
    padding-top: 12px;
    font-size: 1.8em;
  }
}


@media (max-width: 384px){
  
     p.ju_info_fts{
    font-size: 1em;
   }
   div.container.item{
    margin-top: 200px;
   }
   div.container.item >h3{
    font-size: 1.5em;
   }
}

@media (max-width: 767px){
    div.navbar-header>img{
          margin-left: 5px;
    }
    .hideme > img{
      display: none;
    }
   
   p.ju_info_fts{
    padding: 0px;
   }
   div.container > item{
    padding: 0px;
   }
   li button.btn.join-now{
    display: none;
   }
   
}

@media (max-width: 991px){
  div.container-fluid.more{
    padding: 15px;
    background-image: url('../images/heading-one2.jpg'); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    }
  .more > .col-md-6.para_one, .more_two > .col-md-6.para_dua, .more_three > .col-md-6.para_three{
    display: none;
  }
  .more > .col-md-6.one , .more_three > .col-md-6.one{
  font-size: 1em;
  padding-left: 15px;
  padding-bottom: 10px;
  text-align: justify;
  background-color: white;
  height: auto;
  font-family: 'FuturaBook';
  }
  div.container-fluid.more_two{
    padding: 15px;
    background-image: url('../images/heading-two2.jpg'); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    }
  .more_two > .col-md-6.dua{
  font-size: 1em;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-bottom: 20px;
  text-align: justify;
  background-color: white;
  height: auto;
  font-family: 'FuturaBook';
}
  div.container-fluid.more_three{
    padding: 15px;
    background-image: url('../images/heading-three.jpg'); 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    }

    li button{
      margin-right: 15px;
    }
}

@media(min-width: 992px){
  div.ju_title2 > h3{
    padding-top: 20px;
  }
}

@media (max-width: 1199px){
    .item{
    margin-left: 0px;
  }
}
@media (max-width: 320px){
  .item{
    margin-top: 100px;   
  }
  div.container.item > h3{
    font-size: 1.5em;
  }
  div.container.item{
    padding: 0px;
    margin-top: 170px;
  }
  p.ju_info_fts{
    font-size: 0.8em;
    padding: 0px;
  }
  .btn.ju_apa,.btn.ju_gab{
    font-size: 0.8em;
  }
  div.ju_title4_small > h3{
    padding-top: 15px;
    font-size: 1.7em;
  }
  
}
@media (max-width: 1024px){
    #section2{
    padding:50px 0px 50px 0px;
  }
}
@media (max-width: 991px){
    div.col-md-4 > div.panel.panel-default{
      min-height:unset;
    }
    div.ju_title2> h3{
      padding-top: 40px;
    }

}
@media (max-width: 732px){
  div.ju_title2> h3{
      padding-top: 40px;
    }
}
@media (max-width: 617px){
  div.ju_title2> h3{
      padding-top: 20px;
    }
}
@media (min-width: 768px){

  .container{
    width: 100%;
}
